<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h4>FOREVER<span class="dot">.</span></h4>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Press</a></li>
      </ul>
    </div>

    <div class="footer-section shop">
      <h4>SHOP</h4>
      <ul>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Dresses</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Sale</a></li>
      </ul>
    </div>

    <div class="footer-section help">
      <h4>HELP</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Size Guide</a></li>
      </ul>
    </div>

    <div class="footer-section social">
      <h4>CONNECT</h4>
      <div class="social-icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 FOREVER. All Rights Reserved.
  </div>
</footer>
