<style>
  .user-dropdown {
  position: relative;
  display: inline-block;
  font-family: "Inter", sans-serif;
}


.user-pill {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.user-pill:hover {
  background: #eaeaea;
}


.user-menu {
  display: none;
  position: absolute;
  top: 30px; 
  left: 0;
  width: 140px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.15);
  padding: 6px 0;
  z-index: 999;
}


.user-menu a {
  display: block;
  padding: 10px 16px;
  color: #222;
  font-size: 15px;
  text-decoration: none;
}

.user-menu a:hover {
  background: #f5f5f5;
}


.user-dropdown:hover .user-menu {
  display: block;
}

</style>


<header class="site-header">
  <div class="navbar">
    <div class="logo">
      <a href="/">FOREVER<span class="dot">.</span></a>
    </div>

    <nav class="main-nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/shop">SHOP</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>

          <div class="header-right">
            <% if (locals.user) { %>
              <div class="user-dropdown">
           <button type="button" class="user-pill">
           <%= locals.user.name %>
          </button>

        <div class="user-menu">
          <a href="/user-profile">Profile</a>
          <a href="/logout">Logout</a>
         </div>
       </div>
      <% } else { %>
        <a href="/signup" class="sign-in-link">Sign Up</a>
        <a href="/login" class="sign-in-link">Log in</a>
      <% } %>

      <div class="icons">
        <i class="fa-regular fa-heart"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
       <a href="/cart"> <i class="fa-solid fa-bag-shopping"></i></a>
        <i class="fa-solid fa-bars menu-toggle"></i>
      </div>
    </div>
  </div>
</header>
