.error-message {
  color: red;
  display: none;
}
.thumbnails-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}
.thumbnail {
  margin-right: 10px;
  position: relative;
}

.img-preview {
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 150px;
  margin-bottom: 10px;
}

.crop-container {
  width: 400px;
  height: 400px;
  border: 1px solid #777;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  background-color: #f7f7f7;
}
.crop-main-image {
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
}
.crop-area {
  border: 2px dashed #00a2ff;
  position: absolute;
  cursor: move;
  resize: both;
  overflow: auto;
  min-width: 50px;
  min-height: 50px;
}
.crop-preview img {
  max-width: 300px;
  margin-top: 10px;
  display: block;
}
