body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

.reset-container {
  width: 420px;
  background: white;
  margin: 120px auto 60px auto;
  padding: 40px 35px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.reset-container h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.input-wrapper input {
  width: 90%;
  padding: 12px 45px 12px 15px;
  border-radius: 7px;
  border: 1px solid #cfcfcf;
  outline: none;
  font-size: 14px;
}

.input-wrapper i {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #444;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 5px;
  display: none;
}

.btn-reset {
  width: 100%;
  background: #0056d2;
  color: white;
  border: none;
  padding: 12px 0;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.btn-reset:hover {
  background: #0049b5;
}

.error-message1 {
  color: red;
  font-size: 0.75rem;
  margin-top: 5px;
  margin-bottom: -10px;
  padding-left: 5px;
  display: none;
  width: 100%;
  text-align: left;
}
