.search-input-wrapper {
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 30px;
  padding: 4px 12px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  border-radius: 30px;
  padding: 8px 12px;
  font-size: 14px;
}

.search-btn {
  border: none;
  background: transparent;
  color: #444;
  font-size: 16px;
}

.search-btn:hover {
  color: #000;
}

.clear-btn {
  font-size: 20px;
  padding: 0 8px;
  text-decoration: none;
  color: #dc3545;
  font-weight: bold;
}

.clear-btn:hover {
  color: #b02a37;
}

.sort-select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.add-cart {
  background: #000;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.modal-content {
  border-radius: 14px;
}

#modalIcon {
  font-size: 42px;
}

.modal-success {
  color: #28a745;
}

.modal-error {
  color: #dc3545;
}
.clear-filter-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  border: 1px solid #dc3545;
  color: #dc3545;
  border-radius: 6px;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
}

.clear-filter-btn:hover {
  background: #dc3545;
  color: #fff;
}

.size-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.size-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.size-option-btn {
  margin: 5px;
  padding: 6px 14px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.size-option-btn.active {
  background: black;
  color: white;
}
.regular-price{
  text-decoration: line-through;
   color: gray;
}
.final-price{
  color: red; 
  font-weight: 600; 
  margin-left:6px;
}
.wishlist-active {
  color: #e63946;
}

.wishlist-btn i {
  font-size: 18px;
  transition: 0.2s ease;
}

.wishlist-btn:hover i {
  transform: scale(1.15);
}
