<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Order Successful | Forever</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/order-success.css">
 
</head>

<body>
<%- include('../partials/user/header.ejs') %>

<div class="success-wrapper">
  <div class="success-icon">✔</div>
  <h2>Thank you for your order!</h2>
  <p>Your payment was successful and your order has been placed.</p>

  <div class="success-actions">
    <a href="/orders" class="btn-dark">View Order Details</a>
    <a href="/shop" class="btn-outline">Continue Shopping</a>
  </div>
</div>

<%- include('../partials/user/footer.ejs') %>
</body>
</html>
