<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | Forever</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/reset-password.css">

    
</head>

<body>

    

    <section class="reset-container">
        <h2>Reset Password</h2>

         <% if (typeof error !== 'undefined') { %>
            <div class="error-message"><%= error %></div>
        <% } %>

        <form action="/reset-password" method="POST" id="resetForm">

        
            <div class="input-wrapper">
                <input type="password" id="password" name="password" placeholder="New Password" required>
                <i class="fa-regular fa-eye" id="togglePass"></i>
            </div>
            <div id="errorPass" class="error-message"></div>

            
            <div class="input-wrapper">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                <i class="fa-regular fa-eye" id="toggleConfirm"></i>
            </div>
            <div id="errorConfirm" class="error-message"></div>

            <button type="submit" class="btn-reset">Reset Password</button>

        </form>
    </section>

    

    <script src="/js/reset-password.js"></script>
    
</body>
</html>
