<!DOCTYPE html>
<html>
<head>
  <title>Product Not Found</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('../partials/user/header.ejs') %>

<div style="text-align:center;padding:60px;">
  <h2>Product Not Found</h2>
  <p>The product you are looking for is unavailable or removed.</p>

  <a href="/shop" class="btn btn-dark">Continue Shopping</a>
</div>

<%- include('../partials/user/footer.ejs') %>

</body>
</html>
